<h1> Tasks </h1>
<input id="new-task-button" type="checkbox">
<label id="show-new-task" for="new-task-button" name="new-task">
    <img class="button" src="img/plus.svg" title="Create new task">
</label>
<label id="hide-new-task" for="new-task-button" name="new-task">
    <img class="button" src="img/minus.svg" name="Hide new task">
</label>
<img class="button" src="img/expand.svg"   title="Expand all"   onclick="expand('#task-list')">
<img class="button" src="img/collapse.svg" title="Collapse all" onclick="collapse('#task-list')">
<img class="button" src="img/restart.svg"  title="Reload"       onclick="GetTasks()">
<form id="new-task">
    <fieldset>
        <legend> New Task </legend>
        <div> Name </div>
        <input name="name" type="text">
        <div> Description </div>
        <textarea name="description"></textarea>
        <div> Command </div>
        <textarea name="command"></textarea>
        <hr>
        <label class="text button">
            <input hidden onclick="SubmitTask(this)">
            Submit
        </label>
        <label class="text button">
            <input hidden type="reset">
            Clear
        </label>
    </fieldset>
</form>
<div id="task-list"> </div>
<div hidden id="task-modal" class="modal">
    <div class="modal-box">
        <span class="close" onclick="closeModal(this)"> X </span>
        <p> </p>
        <h4> </h4>
        <div class="text button" onclick="DeleteTask(this)"> Yes </div>
        <div class="text button" onclick="closeModal(this)"> No </div>
    </div>
</div>
<template id="task-template">
    <div class="task">
        <label> <h2 id=task-name> </h2> </label>
        <input hidden class="collapse expand" type="checkbox">
        <div>
            <img title="Launch" class="button" src="img/start.svg" onclick="RunTask(this)">
            <label title="Modify" onclick="EditTask(this)">
                <img class="button" src="img/edit.svg">
            </label>
            <input hidden class="collapse edit" type="checkbox">
            <img class="button" src="img/delete.svg" title="Delete" onclick="ConfirmDeleteTask(this)">
            <form>
                <input hidden name="name">
                <table>
                    <tr>
                        <th align="right"> Description </th>
                        <td class="task-detail">
                            <p class="show"></p>
                            <textarea name="description" class="edit"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th align="right"> Command </th>
                        <td class="task-detail">
                            <p class="show"></p>
                            <textarea name="command" class="edit"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th> </th>
                        <td>
                            <div class="edit bar">
                                <hr>
                                <label class="text button">
                                    <input hidden onclick="ModifyTask(this)">
                                    Save
                                </label>
                                <label class="text button"> Cancel </label>
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <textarea rows="10" cols="50" id="task-output" readonly="true"></textarea>
</template>
