body
{
    background-color: #eee;
    color: #222;
    cursor: default;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

a
{
    color: #17a;
    text-decoration: none;
}

a:visited
{
    color: #17a;
}

fieldset
{
    margin: 1em 0;
    padding: 1em;
}

footer
{
    color: #666;
    border-top: 1px solid lightgray;
    margin-bottom: 1em;
    padding: 1em;
}

form
{
    width: 40em;
}

header
{
    color: #555;
    padding: 1em;
}

option:hover,
option:focus,
option:active,
option:checked
{
    background: #069;
    color: white;
}

option:not(checked)
{
    color: black;
}

input, textarea
{
    background: black;
    border: none;
    color: #0f0;
    font-family: mono;
    padding: .5em;
    width: 97%;
}

table
{
    width: 100%;
}

textarea
{
    height: 20ex;
}

th
{
    padding: .5em;
    width: 0;
}
