.button {
    background: #222;
    color: white;
    height: 2em;
    padding: .25em;
    vertical-align: middle;
    width: 3em;
}

.button:hover, .button label:hover {
    background-color: #069;
    cursor: pointer;
}

.close {
    color: white;
    float: right;
}

.close:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.left {
    float: left;
    margin: 0;
    padding: 0;
}

.right {
    float: right;
    margin: 0;
    padding: 0;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal-box {
    background: #e34;
    font-size: 2em;
    margin: 15% auto;
    padding: 20px;
    text-align: center;
    width: 40%;
}

.modal .modal-box .button {
    font-size: 1em;
    width: 2em;
}

.text {
    display: inline-block;
    font-size: 1.25em;
    height: auto;
    text-align: center;
    width: auto;
}
