#content {
    background-color: #fff;
    clear: both;
    overflow: hidden;
}

#error:checked ~ label.error {
    display: block;
}

#error-msg {
    animation: error 3s;
}

#main {
    border-left: 1px solid lightgray;
    display: flex;
    padding: 2em 5em;
}

.error {
    animation: error 1s;
    clear: both;
    display: none;
    background: #e34;
    font-size: 1.5em;
    height: 2em;
    margin-top: -1px;
    padding: 1em 1em 0 1em;
}

.header-link {
    color: #17a;
    font-size: 3em;
    font-weight: bold;
}

.header-subtitle {
    font-size: 1em;
    margin-left: 1em;
}

