#menu {
    background-color: black;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    padding: 0 .5em;
    font-size: 1.5em;
}

#menu label {
    color: lightgray;
    display: inline-block;
    padding: .5em;
    text-align: center;
}

#menu label:hover {
    background-color: #069;
    cursor: pointer;
}

#home-menu:not(checked)  ~ #main #home,
#tasks-menu:not(checked) ~ #main #tasks {
    display: none;
}

#home-menu:checked  ~ #main #home,
#tasks-menu:checked ~ #main #tasks {
    display: block;
}

#home-menu:checked ~ #menu label[for=home-menu],
#tasks-menu:checked ~ #menu label[for=tasks-menu] {
    color: white;
    font-weight: bold;
}
