#tasks
{
    width: 100%;
}

#task-list
{
    margin: 3em -5em;
}

#new-task-button
{
    display: none;
}

#new-task-button:checked ~ #new-task
{
    display: block;
}

#new-task-button:checked      ~ #hide-new-task,
#new-task-button:not(checked) ~ #show-new-task
{
    display: inline-block;
}

#new-task-button:not(checked) ~ #new-task,
#new-task-button:checked      ~ #show-new-task,
#new-task-button:not(checked) ~ #hide-new-task
{
    display: none;
}

.task
{
    padding: .5em 5em;
}

.task:nth-child(odd)
{
    background: #eee;
}

.task h2
{
    color: #069;
}

.task h2:hover
{
    cursor: pointer;
    text-decoration: underline;
}

.task input.expand:checked    + div,
.task input.edit:checked      ~ form table tr td .edit,
.task input.edit:not(checked) ~ form table tr td .show
{
    display: block;
}

.task input.expand:not(checked) + div,
.task input.edit:checked        ~ form table tr td .show,
.task input.edit:not(checked)   ~ form table tr td .edit
{
    display: none;
}

.task table
{
    margin: 1em;
}

.task .button
{
    font-size: 80%;
}

.task td .button
{
    font-size: 1.25em;
}

@keyframes error {
    from
    {
        height: 0;
        opacity: 0;
    }
    to
    {
        height: 2em;
        opacity: 1;
    }
}
