#workers
{
    background: white;
    border-right: 1px solid lightgray;
    float: left;
    margin-right: -1px;
    overflow: hidden;
    width:15em;
}

#worker-list
{
    background: none;
    border: none;
}

#worker-list option
{
    border: 1px lightgray solid;
    font-size: 1.5em;
    margin: -1px;
    padding: .5em 15em .5em 1em;
}
